.portfolio {
  width: 90%;
  margin: 0 auto;
  padding-top: 5rem;
  display: flex;
  gap: 3rem;

  &__card {
    // height: 50vh;
    margin-bottom: 4rem;    

    h3 {
      color: var(--text-color-one);
    }
    p {
      color: var(--text-color-two);
    }

    &-link{
      display: block;
      width: fit-content;
      margin-top: 1rem;
      color: var(--text-color-three);
      font-size: 1.8rem;
      text-decoration: none;
    }
  }
}
