// .app {
//     // height: 100vh;   
//     // height: 100%; 
    
//     min-height: 100dvh;
//     background-color: var(--bg-color);
//     display: grid;
//     grid-template-columns: minmax(10rem, 20rem) 1fr;
//     overflow: hidden; // IMPORTANT to hide sliding overflow    
//     // column-gap: 2rem;        
// }

// .route-container {
//     // border: 1px solid yellow;

//     flex: 1;
//     border: 1px solid yellow;
//     background-color: var(--route-bg-color);
//     width: 100%;
//     animation: slideIn 300ms ease-in-out;
//     overflow-y: auto;
//     scroll-behavior: smooth;

//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
// }

@keyframes slideIn {
    from {
        transform: translateX(40px); // this moves from left to right horizontally
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}