* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

// .app-container {    
//     display: flex;
//     min-height: 100dvh;    
//     flex-direction: column;    
// }

.app {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: var(--route-bg-color);
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.route-container {
    width: 100%;
    flex: 1;
    display: grid;
    place-items: center;
    background-color: var(--route-bg-color);
    animation: slideIn 300ms ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;    
}

.content {
    width: 100%;
    margin: auto 0; // 🔥 magic for vertical centering + scroll safety
}

@keyframes slideIn {
    from {
        transform: translateX(40px); // this moves from left to right horizontally
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (width<=500px) {
    .app {
        
        min-height: unset;    
        display: flex;
        height: 100%;
        flex-direction: column;
        overflow-y: auto;
        overflow: unset;        
    }

    .main {    
        align-items: center;        
        width: 97%;
        margin: 0px auto;
        height: 100%;
        min-height: 89dvh;
        padding: 0px 0px 0px 10px;
    }
}